{% extends 'core/index.html' %}

{% block content %}

{% include 'core/search_company_include.html' %}

     <h1>Привет ребятам из стажировки ITCode!</h1>
  <div class="alert alert-success" role="alert">
    Ниже представление рейтинг IT-компании в России на 2022 год
</div>

      <table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Компания</th>
      <th scope="col">Город</th>
      <th scope="col">Основатель</th>
      <th scope="col">Кол-во сотрудников</th>
      <th scope="col">Рейтинг</th>
    </tr>
  </thead>
  <tbody>
  {% for org in object_list %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href="{% url 'core:company_detail' org.pk %}">{{ org.name }}</a></td>
      <td>{{ org.city }}</td>
      <td>{{ org.founder }}</td>
      <td>{{ org.staff_count }}</td>
      <td>{{ org.rate }}</td>
    </tr>
  {% empty %}
    <h4>Не найдено</h4>
  {% endfor %}
  </tbody>
</table>

{% endblock %}